<!--create-application.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<h1>Create Application</h1>


<div class="panel panel-default col-sm-12">
  <div class="panel-body">
    <!--If there's an error, display the error-->
    {{ if .ErrorTitle}}
    <p class="bg-danger">
      {{.ErrorTitle}}: {{.ErrorMessage}}
    </p>
    {{end}}
    <!--Create a form that POSTs to the `/application/create` route-->
    <form class="form" action="/application/create" method="POST">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" class="form-control" rows="3" id="description" placeholder="Application Description"></textarea>
      </div>
      <div class="form-group">
        <label for="mobility">Mobility</label>
        <input type="checkbox" checked="true" />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>  

    
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}